body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    background-color: #0e1110;
    position: absolute;
    
}

head{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    background-color: #0e1110;
    position:relative
}
